<ion-view class="backgroundBlue">
    <ion-content class="loginPage" ng-controller="UserController">
        <div class="row">
            <div class="col col-80 col-offset-10 "><img class="logoLogin" src="./img/wannago.PNG" alt="WannaGo"></div>
        </div>
        <div class="list form">
            <label class="item item-input item-floating-label">
                <p class="inputfont"><i class="icon ion-person"></i> Username</p>
                <input type="text" class="inputfont" ng-model="user.username">
            </label>
            <label class="item item-input item-floating-label">
                <p class="inputfont"><i class="icon ion-locked"></i> Password</p>
                <input type="password" ng-model="user.password">
            </label>
            <br>
            <div class="row col-12">
                <button class="button button-stable connectButton" style="width:100%" ng-click="connect()">
                    Connect
                </button>
            </div>
                <br />
            <div class="row col-12">
                <button class="button button-stable connectButton icon ion-social-facebook-outline" style="width:100%" ng-click="connectWithFb()">
                    Facebook
                </button>
            </div>
        </br>
            <div class="inputfont recover row col-md-12">
                 <a class="col-md-6">Forgot account ?</a><br><br>
                 <a class="signin font inputfont col-md-6" ui-sref="signin">Sign up</a>
            </div>
        </div>
    </ion-content>
</ion-view>
